<?xml version='1.0' encoding='utf-8'?>
<widget id="com.admob.testapp" version="1.0.0" xmlns="http://w3.org" xmlns:cdv="http://apache.org" xmlns:android="http://android.com">
    <name>AdMob Test</name>
    <description>Test AdMob App</description>
    <author>you</author>
    <content src="index.html" />
    
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="GradlePluginGoogleServicesEnabled" value="true" />
    <preference name="GradlePluginGoogleServicesVersion" value="4.3.15" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application" xmlns:android="http://android.com">
            <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-6865772477831252~5798947483"/>
        </config-file>
    </platform>

    <plugin name="cordova-plugin-admob-free" spec="^6.2.0">
        <variable name="ADMOB_APP_ID" value="ca-app-pub-3940256099942544~3347511713" />
    </plugin>
    
    <plugin name="cordova-plugin-whitelist" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
